@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&display=swap");

.plasmic_tokens {
  --token-SNM-DJZeFwdr: 1280px;
  --plasmic-token-inner-container: var(--token-SNM-DJZeFwdr);
  --token-8upSNVwNvjXz: 1px;
  --plasmic-token-unnamed-style-token: var(--token-8upSNVwNvjXz);
  --token-FUk4A5ih2iRc: #d1387c;
  --plasmic-token-pink: var(--token-FUk4A5ih2iRc);
  --token-7g98ClvxPNWX: #b3294d;
  --plasmic-token-red: var(--token-7g98ClvxPNWX);
  --token-drUW_OTkt-ym: #1d1d21;
  --plasmic-token-black: var(--token-drUW_OTkt-ym);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-G6AHrm3OvRqO-caUYr_font-family: "Inter", sans-serif;
  --mixin-G6AHrm3OvRqO-caUYr_font-size: 16px;
  --mixin-G6AHrm3OvRqO-caUYr_font-weight: 400;
  --mixin-G6AHrm3OvRqO-caUYr_font-style: normal;
  --mixin-G6AHrm3OvRqO-caUYr_color: #4f4f4f;
  --mixin-G6AHrm3OvRqO-caUYr_text-align: left;
  --mixin-G6AHrm3OvRqO-caUYr_text-transform: none;
  --mixin-G6AHrm3OvRqO-caUYr_line-height: 1.5;
  --mixin-G6AHrm3OvRqO-caUYr_letter-spacing: normal;
  --mixin-G6AHrm3OvRqO-caUYr_white-space: pre-wrap;
  --mixin-G6AHrm3OvRqO-caUYr_user-select: text;
  --mixin-G6AHrm3OvRqO-caUYr_text-decoration-line: none;
  --mixin-G6AHrm3OvRqO-caUYr_text-overflow: clip;
  --mixin-Xlv0We2-YU8j-caUYr_color: #4f4f4f;
  --mixin-Xlv0We2-YU8j-caUYr_font-weight: 900;
  --mixin-Xlv0We2-YU8j-caUYr_font-size: 72px;
  --mixin-Xlv0We2-YU8j-caUYr_line-height: 1;
  --mixin-Xlv0We2-YU8j-caUYr_letter-spacing: -4px;
  --mixin-Xlv0We2-YU8j-caUYr_font-family: "Inter", sans-serif;
  --mixin-Xlv0We2-YU8j-caUYr_white-space: pre-wrap;
  --mixin-Lu07a72N6aRB-caUYr_color: #4f4f4f;
  --mixin-Lu07a72N6aRB-caUYr_font-size: 50px;
  --mixin-Lu07a72N6aRB-caUYr_font-weight: 700;
  --mixin-Lu07a72N6aRB-caUYr_letter-spacing: -1px;
  --mixin-Lu07a72N6aRB-caUYr_line-height: 1.1;
  --mixin-Lu07a72N6aRB-caUYr_font-family: "Inter", sans-serif;
  --mixin-Lu07a72N6aRB-caUYr_white-space: pre-wrap;
  --mixin-UOSyK5tJobrs-caUYr_color: #0070f3;
  --mixin-UOSyK5tJobrs-caUYr_white-space: pre-wrap;
  --mixin-3adXxayGxDMH-caUYr_color: #4f4f4f;
  --mixin-3adXxayGxDMH-caUYr_font-size: 32px;
  --mixin-3adXxayGxDMH-caUYr_font-weight: 700;
  --mixin-3adXxayGxDMH-caUYr_letter-spacing: -0.8px;
  --mixin-3adXxayGxDMH-caUYr_line-height: 1.2;
  --mixin-3adXxayGxDMH-caUYr_font-family: "Inter", sans-serif;
  --mixin-3adXxayGxDMH-caUYr_white-space: pre-wrap;
  --mixin-NG0DECYZ3vb6-caUYr_color: #000000;
  --mixin-NG0DECYZ3vb6-caUYr_font-size: 24px;
  --mixin-NG0DECYZ3vb6-caUYr_font-weight: 600;
  --mixin-NG0DECYZ3vb6-caUYr_letter-spacing: -0.5px;
  --mixin-NG0DECYZ3vb6-caUYr_line-height: 1.3;
  --mixin-NG0DECYZ3vb6-caUYr_white-space: pre-wrap;
  --mixin-lAb7qXbF8PHy-caUYr_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-lAb7qXbF8PHy-caUYr_border-bottom-color: #dddddd;
  --mixin-lAb7qXbF8PHy-caUYr_border-bottom-style: solid;
  --mixin-lAb7qXbF8PHy-caUYr_border-bottom-width: 1px;
  --mixin-lAb7qXbF8PHy-caUYr_border-left-color: #dddddd;
  --mixin-lAb7qXbF8PHy-caUYr_border-left-style: solid;
  --mixin-lAb7qXbF8PHy-caUYr_border-left-width: 1px;
  --mixin-lAb7qXbF8PHy-caUYr_border-right-color: #dddddd;
  --mixin-lAb7qXbF8PHy-caUYr_border-right-style: solid;
  --mixin-lAb7qXbF8PHy-caUYr_border-right-width: 1px;
  --mixin-lAb7qXbF8PHy-caUYr_border-top-color: #dddddd;
  --mixin-lAb7qXbF8PHy-caUYr_border-top-style: solid;
  --mixin-lAb7qXbF8PHy-caUYr_border-top-width: 1px;
  --mixin-lAb7qXbF8PHy-caUYr_border-bottom-left-radius: 3px;
  --mixin-lAb7qXbF8PHy-caUYr_border-bottom-right-radius: 3px;
  --mixin-lAb7qXbF8PHy-caUYr_border-top-left-radius: 3px;
  --mixin-lAb7qXbF8PHy-caUYr_border-top-right-radius: 3px;
  --mixin-lAb7qXbF8PHy-caUYr_font-family: "Inconsolata";
  --mixin-lAb7qXbF8PHy-caUYr_padding-bottom: 1px;
  --mixin-lAb7qXbF8PHy-caUYr_padding-left: 4px;
  --mixin-lAb7qXbF8PHy-caUYr_padding-right: 4px;
  --mixin-lAb7qXbF8PHy-caUYr_padding-top: 1px;
  --mixin-lAb7qXbF8PHy-caUYr_white-space: pre-wrap;
  --mixin-NECTNjsxu9h1-caUYr_border-left-color: #dddddd;
  --mixin-NECTNjsxu9h1-caUYr_border-left-style: solid;
  --mixin-NECTNjsxu9h1-caUYr_border-left-width: 3px;
  --mixin-NECTNjsxu9h1-caUYr_color: #888888;
  --mixin-NECTNjsxu9h1-caUYr_padding-left: 10px;
  --mixin-NECTNjsxu9h1-caUYr_white-space: pre-wrap;
  --mixin-HWK8nNAIX54N-caUYr_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-HWK8nNAIX54N-caUYr_border-bottom-color: #dddddd;
  --mixin-HWK8nNAIX54N-caUYr_border-bottom-style: solid;
  --mixin-HWK8nNAIX54N-caUYr_border-bottom-width: 1px;
  --mixin-HWK8nNAIX54N-caUYr_border-left-color: #dddddd;
  --mixin-HWK8nNAIX54N-caUYr_border-left-style: solid;
  --mixin-HWK8nNAIX54N-caUYr_border-left-width: 1px;
  --mixin-HWK8nNAIX54N-caUYr_border-right-color: #dddddd;
  --mixin-HWK8nNAIX54N-caUYr_border-right-style: solid;
  --mixin-HWK8nNAIX54N-caUYr_border-right-width: 1px;
  --mixin-HWK8nNAIX54N-caUYr_border-top-color: #dddddd;
  --mixin-HWK8nNAIX54N-caUYr_border-top-style: solid;
  --mixin-HWK8nNAIX54N-caUYr_border-top-width: 1px;
  --mixin-HWK8nNAIX54N-caUYr_border-bottom-left-radius: 3px;
  --mixin-HWK8nNAIX54N-caUYr_border-bottom-right-radius: 3px;
  --mixin-HWK8nNAIX54N-caUYr_border-top-left-radius: 3px;
  --mixin-HWK8nNAIX54N-caUYr_border-top-right-radius: 3px;
  --mixin-HWK8nNAIX54N-caUYr_font-family: "Inconsolata";
  --mixin-HWK8nNAIX54N-caUYr_padding-bottom: 3px;
  --mixin-HWK8nNAIX54N-caUYr_padding-left: 6px;
  --mixin-HWK8nNAIX54N-caUYr_padding-right: 6px;
  --mixin-HWK8nNAIX54N-caUYr_padding-top: 3px;
  --mixin-HWK8nNAIX54N-caUYr_white-space: pre-wrap;
  --mixin-bxLIEEKdHmwB-caUYr_display: flex;
  --mixin-bxLIEEKdHmwB-caUYr_flex-direction: column;
  --mixin-bxLIEEKdHmwB-caUYr_align-items: stretch;
  --mixin-bxLIEEKdHmwB-caUYr_justify-content: flex-start;
  --mixin-bxLIEEKdHmwB-caUYr_list-style-position: outside;
  --mixin-bxLIEEKdHmwB-caUYr_padding-left: 40px;
  --mixin-bxLIEEKdHmwB-caUYr_position: relative;
  --mixin-bxLIEEKdHmwB-caUYr_list-style-type: disc;
  --mixin-bxLIEEKdHmwB-caUYr_white-space: pre-wrap;
  --mixin-dp3gUUsRLObo-caUYr_display: flex;
  --mixin-dp3gUUsRLObo-caUYr_flex-direction: column;
  --mixin-dp3gUUsRLObo-caUYr_align-items: stretch;
  --mixin-dp3gUUsRLObo-caUYr_justify-content: flex-start;
  --mixin-dp3gUUsRLObo-caUYr_list-style-position: outside;
  --mixin-dp3gUUsRLObo-caUYr_padding-left: 40px;
  --mixin-dp3gUUsRLObo-caUYr_position: relative;
  --mixin-dp3gUUsRLObo-caUYr_list-style-type: decimal;
  --mixin-dp3gUUsRLObo-caUYr_white-space: pre-wrap;
  --mixin-QI_h6A_ZMqgU-caUYr_color: #000000;
  --mixin-QI_h6A_ZMqgU-caUYr_font-size: 20px;
  --mixin-QI_h6A_ZMqgU-caUYr_font-weight: 600;
  --mixin-QI_h6A_ZMqgU-caUYr_letter-spacing: -0.3px;
  --mixin-QI_h6A_ZMqgU-caUYr_line-height: 1.5;
  --mixin-QI_h6A_ZMqgU-caUYr_white-space: pre-wrap;
  --mixin-_7Vak-x_SRcX-caUYr_color: #000000;
  --mixin-_7Vak-x_SRcX-caUYr_font-size: 16px;
  --mixin-_7Vak-x_SRcX-caUYr_font-weight: 600;
  --mixin-_7Vak-x_SRcX-caUYr_line-height: 1.5;
  --mixin-_7Vak-x_SRcX-caUYr_white-space: pre-wrap;
  --mixin-ieuxQcakbD65-caUYr_color: #3291ff;
  --mixin-ieuxQcakbD65-caUYr_white-space: pre-wrap;
  --mixin-cOf15_DEDGMx-caUYr_white-space: pre-wrap;
  --mixin-K0C0ghAsRkIW-caUYr_white-space: pre-wrap;
}

.plasmic_mixins {
  --mixin-v0ww1eaTw_XR_white-space: pre-wrap;
  --plasmic-mixin-nav-menu_white-space: var(--mixin-v0ww1eaTw_XR_white-space);
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-G6AHrm3OvRqO-caUYr_font-family);
  font-size: var(--mixin-G6AHrm3OvRqO-caUYr_font-size);
  font-weight: var(--mixin-G6AHrm3OvRqO-caUYr_font-weight);
  font-style: var(--mixin-G6AHrm3OvRqO-caUYr_font-style);
  color: var(--mixin-G6AHrm3OvRqO-caUYr_color);
  text-align: var(--mixin-G6AHrm3OvRqO-caUYr_text-align);
  text-transform: var(--mixin-G6AHrm3OvRqO-caUYr_text-transform);
  line-height: var(--mixin-G6AHrm3OvRqO-caUYr_line-height);
  letter-spacing: var(--mixin-G6AHrm3OvRqO-caUYr_letter-spacing);
  white-space: var(--mixin-G6AHrm3OvRqO-caUYr_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-Xlv0We2-YU8j-caUYr_color);
  font-weight: var(--mixin-Xlv0We2-YU8j-caUYr_font-weight);
  font-size: var(--mixin-Xlv0We2-YU8j-caUYr_font-size);
  line-height: var(--mixin-Xlv0We2-YU8j-caUYr_line-height);
  letter-spacing: var(--mixin-Xlv0We2-YU8j-caUYr_letter-spacing);
  font-family: var(--mixin-Xlv0We2-YU8j-caUYr_font-family);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-Lu07a72N6aRB-caUYr_color);
  font-size: var(--mixin-Lu07a72N6aRB-caUYr_font-size);
  font-weight: var(--mixin-Lu07a72N6aRB-caUYr_font-weight);
  letter-spacing: var(--mixin-Lu07a72N6aRB-caUYr_letter-spacing);
  line-height: var(--mixin-Lu07a72N6aRB-caUYr_line-height);
  font-family: var(--mixin-Lu07a72N6aRB-caUYr_font-family);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-UOSyK5tJobrs-caUYr_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-3adXxayGxDMH-caUYr_color);
  font-size: var(--mixin-3adXxayGxDMH-caUYr_font-size);
  font-weight: var(--mixin-3adXxayGxDMH-caUYr_font-weight);
  letter-spacing: var(--mixin-3adXxayGxDMH-caUYr_letter-spacing);
  line-height: var(--mixin-3adXxayGxDMH-caUYr_line-height);
  font-family: var(--mixin-3adXxayGxDMH-caUYr_font-family);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-NG0DECYZ3vb6-caUYr_color);
  font-size: var(--mixin-NG0DECYZ3vb6-caUYr_font-size);
  font-weight: var(--mixin-NG0DECYZ3vb6-caUYr_font-weight);
  letter-spacing: var(--mixin-NG0DECYZ3vb6-caUYr_letter-spacing);
  line-height: var(--mixin-NG0DECYZ3vb6-caUYr_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-lAb7qXbF8PHy-caUYr_font-family);
  border-radius: var(--mixin-lAb7qXbF8PHy-caUYr_border-top-left-radius)
    var(--mixin-lAb7qXbF8PHy-caUYr_border-top-right-radius)
    var(--mixin-lAb7qXbF8PHy-caUYr_border-bottom-right-radius)
    var(--mixin-lAb7qXbF8PHy-caUYr_border-bottom-left-radius);
  padding: var(--mixin-lAb7qXbF8PHy-caUYr_padding-top)
    var(--mixin-lAb7qXbF8PHy-caUYr_padding-right)
    var(--mixin-lAb7qXbF8PHy-caUYr_padding-bottom)
    var(--mixin-lAb7qXbF8PHy-caUYr_padding-left);
  border-top: var(--mixin-lAb7qXbF8PHy-caUYr_border-top-width)
    var(--mixin-lAb7qXbF8PHy-caUYr_border-top-style)
    var(--mixin-lAb7qXbF8PHy-caUYr_border-top-color);
  border-right: var(--mixin-lAb7qXbF8PHy-caUYr_border-right-width)
    var(--mixin-lAb7qXbF8PHy-caUYr_border-right-style)
    var(--mixin-lAb7qXbF8PHy-caUYr_border-right-color);
  border-bottom: var(--mixin-lAb7qXbF8PHy-caUYr_border-bottom-width)
    var(--mixin-lAb7qXbF8PHy-caUYr_border-bottom-style)
    var(--mixin-lAb7qXbF8PHy-caUYr_border-bottom-color);
  border-left: var(--mixin-lAb7qXbF8PHy-caUYr_border-left-width)
    var(--mixin-lAb7qXbF8PHy-caUYr_border-left-style)
    var(--mixin-lAb7qXbF8PHy-caUYr_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-NECTNjsxu9h1-caUYr_color);
  padding-left: var(--mixin-NECTNjsxu9h1-caUYr_padding-left);
  border-left: var(--mixin-NECTNjsxu9h1-caUYr_border-left-width)
    var(--mixin-NECTNjsxu9h1-caUYr_border-left-style)
    var(--mixin-NECTNjsxu9h1-caUYr_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-HWK8nNAIX54N-caUYr_font-family);
  border-radius: var(--mixin-HWK8nNAIX54N-caUYr_border-top-left-radius)
    var(--mixin-HWK8nNAIX54N-caUYr_border-top-right-radius)
    var(--mixin-HWK8nNAIX54N-caUYr_border-bottom-right-radius)
    var(--mixin-HWK8nNAIX54N-caUYr_border-bottom-left-radius);
  padding: var(--mixin-HWK8nNAIX54N-caUYr_padding-top)
    var(--mixin-HWK8nNAIX54N-caUYr_padding-right)
    var(--mixin-HWK8nNAIX54N-caUYr_padding-bottom)
    var(--mixin-HWK8nNAIX54N-caUYr_padding-left);
  border-top: var(--mixin-HWK8nNAIX54N-caUYr_border-top-width)
    var(--mixin-HWK8nNAIX54N-caUYr_border-top-style)
    var(--mixin-HWK8nNAIX54N-caUYr_border-top-color);
  border-right: var(--mixin-HWK8nNAIX54N-caUYr_border-right-width)
    var(--mixin-HWK8nNAIX54N-caUYr_border-right-style)
    var(--mixin-HWK8nNAIX54N-caUYr_border-right-color);
  border-bottom: var(--mixin-HWK8nNAIX54N-caUYr_border-bottom-width)
    var(--mixin-HWK8nNAIX54N-caUYr_border-bottom-style)
    var(--mixin-HWK8nNAIX54N-caUYr_border-bottom-color);
  border-left: var(--mixin-HWK8nNAIX54N-caUYr_border-left-width)
    var(--mixin-HWK8nNAIX54N-caUYr_border-left-style)
    var(--mixin-HWK8nNAIX54N-caUYr_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-bxLIEEKdHmwB-caUYr_display);
  flex-direction: var(--mixin-bxLIEEKdHmwB-caUYr_flex-direction);
  align-items: var(--mixin-bxLIEEKdHmwB-caUYr_align-items);
  justify-content: var(--mixin-bxLIEEKdHmwB-caUYr_justify-content);
  list-style-position: var(--mixin-bxLIEEKdHmwB-caUYr_list-style-position);
  padding-left: var(--mixin-bxLIEEKdHmwB-caUYr_padding-left);
  position: var(--mixin-bxLIEEKdHmwB-caUYr_position);
  list-style-type: var(--mixin-bxLIEEKdHmwB-caUYr_list-style-type);
  flex-column-gap: var(--mixin-bxLIEEKdHmwB-caUYr_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-dp3gUUsRLObo-caUYr_display);
  flex-direction: var(--mixin-dp3gUUsRLObo-caUYr_flex-direction);
  align-items: var(--mixin-dp3gUUsRLObo-caUYr_align-items);
  justify-content: var(--mixin-dp3gUUsRLObo-caUYr_justify-content);
  list-style-position: var(--mixin-dp3gUUsRLObo-caUYr_list-style-position);
  padding-left: var(--mixin-dp3gUUsRLObo-caUYr_padding-left);
  position: var(--mixin-dp3gUUsRLObo-caUYr_position);
  list-style-type: var(--mixin-dp3gUUsRLObo-caUYr_list-style-type);
  flex-column-gap: var(--mixin-dp3gUUsRLObo-caUYr_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-QI_h6A_ZMqgU-caUYr_color);
  font-size: var(--mixin-QI_h6A_ZMqgU-caUYr_font-size);
  font-weight: var(--mixin-QI_h6A_ZMqgU-caUYr_font-weight);
  letter-spacing: var(--mixin-QI_h6A_ZMqgU-caUYr_letter-spacing);
  line-height: var(--mixin-QI_h6A_ZMqgU-caUYr_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-_7Vak-x_SRcX-caUYr_color);
  font-size: var(--mixin-_7Vak-x_SRcX-caUYr_font-size);
  font-weight: var(--mixin-_7Vak-x_SRcX-caUYr_font-weight);
  line-height: var(--mixin-_7Vak-x_SRcX-caUYr_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-ieuxQcakbD65-caUYr_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
